# Core Flask
Flask==3.0.0
flask-cors==4.0.0
Werkzeug>=3.0.0

# JWT
flask-jwt-extended>=4.6.0

# Environment variables
python-dotenv>=1.0.0

# SQL Server driver
pyodbc>=5.0.0

# Testing
pytest==7.4.3
pytest-json-report==1.5.0

# Report helpers
numpy==2.1.3
pandas==2.2.3
Jinja2==3.1.2

# API docs (optional)
flasgger==0.9.7.1
